* {
  font-family: "TikTok Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

#preloader {
  background-color: #f2f2f2c4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #FF3D00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0;
}

.cats-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.cats-list img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.favorites-inner {
  display: flex;
  white-space: nowrap;
  gap: 10px;
  margin-bottom: 30px;
  overflow-x: auto;
}


.favorites-inner img {
  width: 24%;
  height: 200px;
  object-fit: cover;
}

.favorites-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.favorites-cats {
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 30px;
}

.cat-img {
  cursor: pointer;
  border-radius: 6px;
}

.cat-img:hover {
  transform: scale(1.05);
  transition: all .6s;
  opacity: .6;
}

.cat-img.favorite {
  opacity: .5;
}

.no-cats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.favorites-cats .cat-img {
  cursor: unset;
  transform: unset;
  transition: unset;
  opacity: unset;
}

.favorites-cats .cat-img.favorite {
  opacity: unset;
}

.favorites {
  display: flex;
  gap: 10px;
  align-items: center;
}